# Default ignored files
/shelf/
/.idea/workspace.xml

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Gradle build directory
jit/.gradle/

# Ignore build output directory
jit/build/

# Ignore .bin files
*.bin

