@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply styles to the body using Tailwind's dark mode utility */
body {
  font-family: 'Inter', sans-serif; /* The font family comes from Tailwind config */
}

/* Use the dark mode class for styling dark mode */
body {
  @apply bg-white-100 text-black-400; /* Light theme by default */
}

body.dark {
  @apply bg-black-800 text-white-100; /* Dark theme */
}
